/* Import fonts first */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom CSS below this */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins" sans-serif;
}

:root {
  --bg-color: #080808; /* Background color */
  --second-bg-color: #131313; /* Secondary background color */
  --text-color: white; /* Text color */
  --main-color: #00aaff; /* Main color */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', Serif;
}

body {
  background: black; /* Apply background color */
  color: var(--text-color); /* Apply text color */
}

/* For sliding effect */
.navbar {
  transition: height 0.3s ease-in-out;
}

.navbar a {
  font-size: 18px;
}

.navbar .block {
  display: block;
}

.navbar .hidden {
  display: none;
}

